{% extends 'layout/main.html' %}

<!-- Load -->
{% block title %} Home {% endblock title %}

<!-- Start Content -->
{% block content %}

<!-- Navbar -->
{% include 'layout/navbar.html' %}

<main class="min-h-screen flex flex-col justify-center items-center text-center p-6 pt-24">
  <h1 class="text-4xl lg:text-5xl font-bold text-dark-text mb-4">Sabuku | <span class="text-primary-blue">Satu Bulan Satu Buku</span></h1>
  <p class="text-lg text-light-text max-w-2xl mx-auto">Program literasi Divisi Pendidikan Himpunan Mahasiswa Sistem Informasi. Setiap bulan, satu buku dibaca dan direview oleh anggota.</p>
  <div class="mt-10 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
    <a href="{% url 'galeri_review' %}" class="bg-primary-blue text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-sky-600 transition-all shadow-lg hover:shadow-xl"> Lihat Galeri Review </a>
    <a href="{% url 'submit_review' %}" class="bg-white text-dark-text px-6 py-3 rounded-lg font-semibold text-lg hover:bg-gray-200 transition-all border border-gray-300 shadow-lg hover:shadow-xl"> Submit Review Buku </a>
  </div>
</main>
{% endblock content %}
